body {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: skyblue;
  }

  footer {
  text-align: center;
  background-color: whitesmoke;
}
  
textarea{
  background: transparent;
  /* border: none; */
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: 600;
}

.appointment:placeholder-shown {
  font-style: italic;
}

.container {
  margin-bottom: 2.5rem;
}

.icon {
  align-self: center;
  height: 1.5rem;
  width: 1.5rem;
}

.input-group {
  background-color: whitesmoke;
  border-radius: 1rem;
}

.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  background-color: whitesmoke;
  padding: 0;
}

.list-group-item {
  height: 5rem;
}

.recycleIcon {
  width: 4rem;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.saveIcon {
  width: 4rem;
}

.timeValue {
  height: 5rem;
  color: black;
  font-weight: 600;
  width: 5rem;
}